body {
    margin: 10px;
    font-family: 'Chango', cursive;
}

h1 {
    color: red;
}

.explanation {
    color: blue;
}

.button-start {
    font-size: 80px;
    
}

.letter-container {
    margin: 5px;
    text-transform: uppercase;
    border: 15px solid #ccc;
    font-size: 15px;
    text-align: center;   
}

h1 {
    color: red;
}

.keyboard {
    background-color: aquamarine;
    text-transform: uppercase;
    margin: 5px;
}

.keyboard-after {
    background-color: red;
    text-transform: uppercase;
    margin: 5px;
}

.input-boxes {
    text-transform: uppercase;
}