:root {
    --main-title-color: #6b5b95;
    --main-background-color: #feb236;  
    --main-statement: #d64161;   
    --main-boxes: #ff7b25;
    --main-font: 'Chango', cursive;
}

body {
    width: 960px;
    margin: 0 auto;
    font-family: var(--main-font);
    background-color: var(--main-background-color);
}

h1 {
    color: var(--main-title-color);
}

.statement-class {
    color: var(--main-statement);
}

.explanation {
    color: var(--main-statement);
}

.button-start {
    background-color: var(--main-title-color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: var(--main-font);
    font-size: 50px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-start:hover {
    background-color: var(--main-boxes);
}

.letter-container {
    margin: 5px;
    text-transform: uppercase;
    border: 15px solid var(--main-boxes);
    font-size: 15px;
    text-align: center;   
    box-shadow: 2px 5px var(--main-title-color);
    width: 50px;
}

.timeLeft-container {
    color: var(--main-statement);
}

.timeLeft {
    color: var(--main-background-color);
    background-color: var(--main-title-color);
}

.keyboard {
    color: var(--main-background-color);
    background-color: var(--main-title-color);
    text-transform: uppercase;
    margin: 5px;
}

.keyboard-after {
    color: var(--main-statement);
    background-color: var(--main-statement);
    text-transform: uppercase;
    margin: 5px;
}

.input-boxes {
    text-transform: uppercase;
    font-weight: bold;
}

.reset {
    background-color: var(--main-title-color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: var(--main-font);
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}